header {
    background-color: #ffffff;
    color: #000000;
    padding: 10px;
    border-bottom: 1px solid #2500ad;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
  margin: 0;
  border: 1px solid #0f0047;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  width: 200px;
  height: 50px;
  background: #3500f6bc;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: flex;
  align-items: center;
}

nav ul li:first-child {
  margin-left: auto;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    border: 1px solid #333;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    background: #484848;
}
  
  